[Unit]
Description=Una app para uWSGI 
After=network.target

[Service]
User=mario
Group=www-data
WorkingDirectory=/home/mario/aplicacion
Environment="PATH=/home/mario/aplicacion/entorno/bin"
ExecStart=/home/mario/aplicacion/entorno/bin/uwsgi --ini aplicacion.ini --logto /opt/wsgi.log

[Install]
WantedBy=multi-user.target 